.margin20{
    margin: 20px;
}

.footer{
    margin-top: 16px;
}

.flex-container{
    display: flex;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-around{
    justify-content: space-around;
}

.flex-between{
    justify-content: space-between;
}

.see-through-container{
    background: rgba(30, 25, 35, .7);
    border-radius: 25px;
    padding: 16px;
}

.long-container{
    padding-left: 24px;
    padding-right: 24px;
}

div {
    color: #f0e9df;
}

select option:first-child{
    color: #A39696;
}
.form-control::-webkit-input-placeholder { color: #A39696; }
.form-control:-moz-placeholder { color: #A39696; }
.form-control::-moz-placeholder { color: #A39696; }
.form-control:-ms-input-placeholder { color: #A39696; }