{{!< html-struct}}
<div>
    <button><a href="/classes">My Classes</a></button><br><br>
    <button><a href="/students">Students</a></button><br><br>
    <button><a href="/guardians">Parents</a></button>
</div>